<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <!-- ------ Nav bar ------ -->
    <%- include("nav.ejs") %>

    <div id="div-error">
        <h1><%= result.code %></h1>
        <h2><%= result.title %></h2>
        <p><%= result.message %></p>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>