<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <!-- ------ Response Modal ------ -->
    <% if (showModal) { %>
    <%- include("response-modal.ejs") %>
    <% } %>
    
    <!-- ------ Nav bar ------ -->
    <%- include("nav.ejs") %>

    <!-- ------ Content ------ -->
    <div id="div-content">
        <!-- --- Tasks --- -->
        <div class="div-column">
            <!-- Form new task -->
            <div class="div-form">
                <h1 class="h1-form"><%= __("new_task") %></h1>
                <form method="POST" action="/tasks/<%= locale %>">
                    <label for="input-title"><%= __("title") %></label>
                    <input id="input-title" name="title" type="text" placeholder="<%= __("title_placeholder") %>">
                    <% if (result != null && !showModal && result.data.field == "title") { %>
                    <span class="span-error"><%= result.message %></span>
                    <% } %>
                    <button type="submit" class="button-submit"><%= __("add") %></button>
                </form>
            </div>
            <hr>
            <!-- Task list -->
            <h1><%= __("my_tasks") %></h1>
            <div id="div-tasks">
                <% if (tasks.length == 0) { %>
                    <p class="p-no-results"><%= __("no_tasks") %></p>
                <% } else { tasks.forEach((task) => { %>
                        <p><%= task.title %></p>
                <% });} %>
            </div>
        </div>
        <hr class="hr-separator">
        <!-- --- Files --- -->
        <div id="div-middle" class="div-column">
            <!-- Form new file -->
            <div class="div-form">
                <h1 class="h1-form"><%= __("new_file") %></h1>
                <form method="POST" action="/files" enctype="multipart/form-data">
                    <label for="input-file"><%= __("file") %></label>
                    <input id="input-file" name="uploadedFile" type="file">
                    <button type="submit" class="button-submit"><%= __("upload") %></button>
                </form>
            </div>
            <hr>
            <!-- File list -->
            <h1><%= __("my_files") %></h1>
            <div id="div-files">
                <% if (files.length == 0) { %>
                    <p class="p-no-results"><%= __("no_files") %></p>
                <% } else { %>
                    <% files.forEach((file) => {
                        const match = file.match(/^(.+)_([0-9]+)\.([^.]+)$/);
                        if (match) {
                            const filename = match[1];
                            const timestamp = match[2];
                            const extension = match[3];
                            let iconPath = __("/img/icons/other-file.png");
                            let altImg = __("alt_other_file_icon");
            
                            switch (extension.toLowerCase()) {
                                case "pdf": {
                                    iconPath = "/img/icons/pdf-file.png";
                                    altImg = __("alt_pdf_file_icon");
                                } break;
                                case "xlsx": {
                                    iconPath = "/img/icons/excel-file.png";
                                    altImg = __("alt_excel_file_icon");
                                } break;
                                case "docx": {
                                    iconPath = "/img/icons/doc-file.png";
                                    altImg = __("alt_doc_file_icon");
                                } break;
                                case "jpg":
                                case "png": {
                                    iconPath = "/img/icons/img-file.png";
                                    altImg = __("alt_img_file_icon");
                                } break;
                                case "txt": {
                                    iconPath = "/img/icons/txt-file.png";
                                    altImg = __("alt_txt_file_icon");
                                } break;
                            }
                    %>
                    <div>
                        <img src="<%= iconPath %>" alt="<%= altImg %>" width="20">
                        <a href="/files?filename=<%= file %>"><%= filename %>.<%= extension %></a>
                    </div>
                <%  } }); } %>
            </div>            
        </div>
        <hr class="hr-separator">
        <!-- --- Notifications --- -->
        <div class="div-column">
            <!-- Allow notifications -->
            <form id="form-notification-permissions" method="post" action="/notifications/permission" class="div-form">
                <h1 class="h1-form"><%= __("notifications") %></h1>
                <% if (!notificationsAllowed) { %>
                <button id="button-notification-permissions" type="button" data-allowed="<%= notificationsAllowed %>"><%= __("allow_notifications") %></button>
                <% } else { %>
                <button id="button-notification-permissions" type="button" data-allowed="<%= notificationsAllowed %>"><%= __("disable_notifications") %></button>
                <% } %>
                <p id="p-notif" 
                    data-messages='<%= JSON.stringify({
                        disabled: __("notifications_disabled"), 
                        granted: __("notifications_granted"),
                        default: __("notifications_default"),
                        denied: __("notifications_denied"),
                    }) %>'>
                    <small></small>
                </p>
            </form>
            <hr>
            <!-- Send notification -->
            <form id="form-send-notification" method="post" action="/notifications"><button id="button-send-notification" type="button" class="secondary-button"><%= __("send_notification") %></button></form>          
        </div>
    </div>
    
    <script src="/js/index.js"></script>
    <script src="/js/modal.js"></script>
</body>

</html>