<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <!-- ------ Response Modal ------ -->
    <% if (showModal) { %>
    <%- include("response-modal.ejs") %>
    <% } %>
    
    <!-- ------ Nav bar ------ -->
    <%- include("nav.ejs") %>

    <!-- ------ Content ------ -->
    <div id="div-content">
        <!-- --- Tasks --- -->
        <div class="div-column">
            <!-- Form new task -->
            <div class="div-form">
                <h1 class="h1-form"><%= __("new_task") %></h1>
                <form method="POST" action="/tasks/<%= locale %>">
                    <label for="input-title"><%= __("title") %></label>
                    <input id="input-title" name="title" type="text" placeholder="<%= __("title_placeholder") %>">
                    <% if (result != null && !showModal && result.data.field == "title") { %>
                    <span class="span-error"><%= result.message %></span>
                    <% } %>
                    <button type="submit" class="button-submit"><%= __("add") %></button>
                </form>
            </div>
            <hr>
            <!-- Task list -->
            <h1><%= __("my_tasks") %></h1>
            <div id="div-tasks">
                <% if (tasks.length == 0) { %>
                    <p class="p-no-results"><%= __("no_tasks") %></p>
                <% } else { tasks.forEach((task) => { %>
                        <p><%= task.title %></p>
                <% });} %>
            </div>
        </div>
        <hr class="hr-separator">
        <!-- --- Files --- -->
        <div id="div-middle" class="div-column">
            <!-- Form new file -->
            <div class="div-form">
                <h1 class="h1-form"><%= __("new_file") %></h1>
                <form method="POST" action="/tasks">
                    <label for="input-file"><%= __("file") %></label>
                    <input id="input-file" type="file">
                    <button type="submit" class="button-submit"><%= __("upload") %></button>
                </form>
            </div>
            <hr>
            <!-- File list -->
            <h1><%= __("my_files") %></h1>
            <div id="div-files">
                <div>
                    <img src="/img/icons/pdf-file.png" alt="<%= __("alt_pdf_icon") %>" width="20">
                    <a href="#">File_1.pdf</a>
                </div>
                <div>
                    <img src="/img/icons/pdf-file.png" alt="<%= __("alt_pdf_icon") %>" width="20">
                    <a href="#">File_2.pdf</a>
                </div>
                <div>
                    <img src="/img/icons/pdf-file.png" alt="<%= __("alt_pdf_icon") %>" width="20">
                    <a href="#">File_3.pdf</a>
                </div>
            </div>
        </div>
        <hr class="hr-separator">
        <!-- --- Notifications --- -->
        <div class="div-column">
            <!-- Allow notifications -->
            <div class="div-form">
                <h1 class="h1-form"><%= __("notifications") %></h1>
                <button type="button"><%= __("allow_notifications") %></button>
                <p id="p-notif"><small><%= __("notifications_disabled") %></small></p>
            </div>
            <hr>
            <!-- Send notification -->
            <button id="button-notif" type="button" class="secondary-button"><%= __("send_notification") %></button>
        </div>
    </div>
    
    <script src="/js/main.js"></script>
    <script src="/js/modal.js"></script>
</body>

</html>