<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <!-- ------ Response Modal ------ -->
    <% if (showModal) { %>
    <%- include("response-modal.ejs") %>
    <% } %>
    
    <!-- ------ Nav bar ------ -->
    <%- include("nav.ejs") %>

    <!-- ------ Content ------ -->
    <div id="div-content">
        <!-- --- Tasks --- -->
        <div class="div-column">
            <!-- Form new task -->
            <div class="div-form">
                <h1 class="h1-form">New task</h1>
                <form method="POST" action="/tasks">
                    <label for="input-title">Title</label>
                    <input id="input-title" name="input-title" type="text" placeholder="Type here...">
                    <% if (result != null && !showModal) { %>
                    <span class="span-error"><%= result.message %></span>
                    <% } %>
                    <button type="submit" class="button-submit">Add</button>
                </form>
            </div>
            <hr>
            <!-- Task list -->
            <h1>My tasks</h1>
            <div id="div-tasks">
                <% if (tasks.length == 0) { %>
                    <p class="p-no-results">You don't have any tasks yet :&#40;</p>
                <% } else {
                    tasks.forEach((task) => { %>
                        <p><%= task.title %></p>
                <% });} %>
            </div>
        </div>
        <hr class="hr-separator">
        <!-- --- Files --- -->
        <div id="div-middle" class="div-column">
            <!-- Form new file -->
            <div class="div-form">
                <h1 class="h1-form">New file</h1>
                <form method="POST" action="/tasks">
                    <label for="input-file">File</label>
                    <input id="input-file" type="file">
                    <button type="submit" class="button-submit">Upload</button>
                </form>
            </div>
            <hr>
            <!-- File list -->
            <h1>My files</h1>
            <div id="div-files">
                <div>
                    <img src="/img/icons/pdf-file.png" alt="PDF icon" width="20">
                    <a href="#">File_1.pdf</a>
                </div>
                <div>
                    <img src="/img/icons/pdf-file.png" alt="PDF icon" width="20">
                    <a href="#">File_2.pdf</a>
                </div>
                <div>
                    <img src="/img/icons/pdf-file.png" alt="PDF icon" width="20">
                    <a href="#">File_3.pdf</a>
                </div>
            </div>
        </div>
        <hr class="hr-separator">
        <!-- --- Notifications --- -->
        <div class="div-column">
            <!-- Allow notifications -->
            <div class="div-form">
                <h1 class="h1-form">Notifications</h1>
                <button type="button">Allow notifications</button>
                <p id="p-notif"><small>Notifications are disabled in all devices.</small></p>
            </div>
            <hr>
            <!-- Send notification -->
            <button id="button-notif" type="button" class="secondary-button">Send me a notification!</button>
        </div>
    </div>
    
    <script src="/js/main.js"></script>
    <script src="/js/modal.js"></script>
</body>

</html>